.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.mywork-title{
    position:relative;
}
.mywork-title h1{
    font-size: 40px;
    font-weight: 600;
    text-align:center;
    padding: 0px 30px;
}
.mywork-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 10px;
}
.mywork-container img:hover{
    transform: scale(1.1);
    border-radius: 10px;
    transition: 0.4s;
}
.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 300px;
    transition: 0.3px;
    cursor: pointer;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 20px;
}
.mywork-showmore:hover{
    background: linear-gradient(90deg, #FFA500, #FF4500);
    border: 2px solid #FFA500;
    transition: 0.6s;
}
@media(max-width:768px){
    .my-work{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 30px;
        font-weight: 600;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 300px;
        height: 200px;
    }
}